@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea,
select,
button {
  outline: none;
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --font-primary: "Nunito Sans", sans-serif;
  --font-second: "Poppins", sans-serif;
  --white-color: #fff;
  --primary-color: #2ecc71;
  --dark-blue-color: #14142f;
  --light-blue-color: #f7f8fd;
  --border-color: #c1c1c6;
  --gray-color: #f5f5f5;
  --black-color: #000;
  --gray-color-hover: #ebebec;
  --sidebar-width: 96px;
  --header-height: 63px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  line-height: 18px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  opacity: 0;
  z-index: 999999999;
}
.dropdown.active-dropdown .dropdown-menu {
  display: block;
  opacity: 1;
}

.stick {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
}

.btn {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-outline {
  border: 1px solid var(--black-color);
  color: var(--black-color);
}
.btn-outline:hover {
  background-color: var(--gray-color-hover);
  border-color: var(--primary-color);
}
.btn-large {
  min-width: 300px;
}
.btn-fill {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--primary-color);
  opacity: 0.8;
  transition: all 0.3s linear;
}
.btn-fill:hover {
  opacity: 1;
}

.show-more-btn {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-more-btn-icon {
  padding-left: 10px;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  display: block;
  padding: 0;
}

.container-fluid.container {
  max-width: 1250px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter .col {
  padding-right: 0;
  padding-left: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.c-0 {
  display: none;
}
.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.c-o-1 {
  margin-left: 8.33333%;
}
.c-o-2 {
  margin-left: 16.66667%;
}
.c-o-3 {
  margin-left: 25%;
}
.c-o-4 {
  margin-left: 33.33333%;
}
.c-o-5 {
  margin-left: 41.66667%;
}
.c-o-6 {
  margin-left: 50%;
}
.c-o-7 {
  margin-left: 58.33333%;
}
.c-o-8 {
  margin-left: 66.66667%;
}
.c-o-9 {
  margin-left: 75%;
}
.c-o-10 {
  margin-left: 83.33333%;
}
.c-o-11 {
  margin-left: 91.66667%;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }
}
/* kích thước > 740px   (tablet trở lên) */
@media (min-width: 740px) {
  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .row.sm-gutter {
    margin-right: -5px;
    margin-left: -5px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* kích thước > 1113px   (PC dởm trở lên) */
@media (min-width: 1113px) {
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .l-0 {
    display: none;
  }

  .l-1-big,
.l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Pc low */
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 984px;
  }

  .container .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .container .row.l-1-big {
    margin-left: -15px;
    margin-right: -15px;
  }

  .container .row.sm-gutter {
    margin-right: -5px;
    margin-left: -5px;
  }

  .container .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container .row.l-1-big .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container .row.sm-gutter .col {
    padding-right: 5px;
    padding-left: 5px;
  }

  .container .l-0 {
    display: none;
  }

  .container .l-1-big,
.container .l-1,
.container .l-2,
.container .l-2-4,
.container .l-3,
.container .l-4,
.container .l-5,
.container .l-6,
.container .l-7,
.container .l-8,
.container .l-9,
.container .l-10,
.container .l-11,
.container .l-12 {
    display: block;
  }

  .container .l-1-big {
    flex: 0 0 9.33333%;
    max-width: 9.33333%;
  }

  .container .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .container .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .container .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .container .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .container .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .container .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .container .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .container .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .container .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .container .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .container .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .container .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .container .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .container .l-o-1 {
    margin-left: 8.33333%;
  }

  .container .l-o-2 {
    margin-left: 16.66667%;
  }

  .container .l-o-3 {
    margin-left: 25%;
  }

  .container .l-o-4 {
    margin-left: 33.33333%;
  }

  .container .l-o-5 {
    margin-left: 41.66667%;
  }

  .container .l-o-6 {
    margin-left: 50%;
  }

  .container .l-o-7 {
    margin-left: 58.33333%;
  }

  .container .l-o-8 {
    margin-left: 66.66667%;
  }

  .container .l-o-9 {
    margin-left: 75%;
  }

  .container .l-o-10 {
    margin-left: 83.33333%;
  }

  .container .l-o-11 {
    margin-left: 91.66667%;
  }
}
.heading-sm {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.heading {
  color: var(--black-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.heading-hero {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
}
.wrapper .sidebar {
  flex: 0 0 0;
  max-width: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.wrapper .main {
  flex: 1;
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
}
.wrapper.extend .sidebar {
  opacity: 1;
  flex: 0 0 var(--sidebar-width);
  max-width: var(--sidebar-width);
}

.sidebar-main {
  height: 100vh;
  background-color: var(--gray-color);
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-item {
  width: 100%;
}
.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 4px;
  justify-content: center;
  width: 100%;
  transition: background-color 0.3s linear;
}
.sidebar-link:hover {
  background-color: var(--gray-color-hover);
}
.sidebar-name {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--black-color);
}
.sidebar-icon {
  font-size: 2.8rem;
  padding-bottom: 8px;
  color: var(--black-color);
  text-align: center;
  display: block;
}

.header {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: var(--header-height);
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white-color);
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-logo-name {
  font-size: 2.4rem;
  font-weight: 700;
}
.header-menu {
  font-size: 3rem;
  margin: 0 8px;
  cursor: pointer;
  padding: 8px;
}
.header-menu:hover {
  background-color: var(--gray-color-hover);
}
.header-img {
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border-radius: 5px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.header-search {
  width: 320px;
  border: 1px solid var(--border-color);
  height: 46px;
  display: flex;
  align-items: cetner;
  padding: 10px 20px;
  transition: all 0.3s linear;
}
.header-search-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--black-color);
  margin-right: 15px;
}
.header-input {
  flex: 1;
}
.header-more {
  font-size: 1.8rem;
  font-weight: 700;
}
.header-user {
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.header-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-search.search-active {
  border: 2px solid var(--primary-color);
  width: 384px;
}

.user-menu {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  width: 300px;
  background-color: var(--white-color);
  box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.user-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.user-heading {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 20px;
  border-bottom: 1px solid var(--gray-color-hover);
}
.user-name {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.user-profile {
  font-size: 1.4rem;
}
.user-body {
  padding: 20px 0;
}
.user-link {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 8px 20px;
  width: 100%;
}
.user-link:hover {
  background-color: var(--gray-color-hover);
}
.user-icon {
  color: var(--black-color);
  font-size: 2.8rem;
}

.content {
  padding: 100px 0;
}

.started {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.started-icon {
  margin-right: 10px;
  padding: 10px;
  background-color: var(--light-blue-color);
  border-radius: 50%;
}
.started-icon img {
  height: 20px;
  width: 20px;
  display: block;
}

.banner {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  margin-bottom: 50px;
}
.banner-item {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
}

.banner__btn-next,
.banner__btn-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--black-color);
  box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.1);
  z-index: 2;
  opacity: 0.8;
  transition: all 0.3s linear;
}
.banner__btn-next:hover,
.banner__btn-prev:hover {
  opacity: 1;
}

.banner__btn-next {
  right: 0;
}

.banner__btn-prev {
  left: 0;
}

.courses {
  margin: 30px 0;
}

.course {
  height: 382px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s linear;
  overflow: hidden;
}
.course:hover {
  transform: translateY(-10px);
}
.course-main {
  flex: 1;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.course-img img {
  width: 100%;
  height: 155px;
  flex-shrink: 0;
}
.course-autor {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.course-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  flex: 1;
}
.course-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.course-desc__rating {
  color: #FFC312;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0;
}
.course-desc__btn, .course-desc__icon {
  padding-left: 8px;
  font-size: 1.8rem;
}
.course-desc__text {
  color: var(--black-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.explore {
  margin-top: 100px;
  background-color: var(--light-blue-color);
}
.explore h1 {
  font-size: 2rem;
}
.explore-main {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}
.explore-btn {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 15px 0;
  width: 300px;
}

.footer {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  padding: 50px 30px;
}
.footer-heading p {
  margin-top: 15px;
  font-size: 1.4rem;
}
.footer-heading-wrp {
  display: flex;
  align-items: center;
}
.footer-list {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 15px;
}
.footer-item a {
  font-size: 1.2rem;
  color: var(--border-color);
  transition: all 0.3s linear;
}
.footer-item a:hover {
  color: var(--white-color);
}
.footer-item:first-child a {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer-contact {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-social span {
  font-size: 3rem;
}
.footer-social span ~ span {
  padding-left: 20px;
}
.footer-policy {
  display: flex;
  align-items: center;
}
.footer-policy p {
  white-space: nowrap;
}
.footer-policy img {
  width: 48px;
  height: 48px;
  display: block;
  margin-left: 10px;
}

.line {
  height: 1px;
  width: 100%;
  margin: 20px 0 10px 0;
  background-color: var(--white-color);
}

/* tablet and mobile */
/* tablet  */
/* mobile */
@media (max-width: 739px) {
  .header-search {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
